extends ../layout

block content
  a(href="/bicibletas/create") Nueva Bibicleta

    table.table
        thead
            tr
                th(scope="col") #
                th(scope="col") Color
                th(scope="col") Modelo
                th(scope="col") Ubicacion
        tbody
            each bici in bicicletas
                tr
                    td(scope="row") 
                      = bici.code
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td
                     a(href='bicicletas/' + bici.code + '/update') Editar
                    td
                     form.inline(method='post' action='bicicletas/' + bici.code + '/delete')
                        input(type='hidden' name='id' value=bici.code)
                        button.link-button(type='sumbit' name='sumbit_param' value='sumbit_value' class='btn')
                            = 'Eliminar'
